html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100vh;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tab-left {
  border-radius: 8px 0px 0px 8px !important;
}

.tab-right {
  border-radius: 0px 8px 8px 0px !important;
}

.MuiAccordion-root:before {
  position: unset !important;
}
.MuiTabs-flexContainer {
  max-height: 7vh !important;
  min-height: 6vh !important;
}
.MuiListItemIcon-root {
  min-width: 30px !important;
}
.MuiListItemIcon-root {
  min-width: 30px !important;
}
.MuiList-root {
  overflow-x: hidden !important;
}
.MuiTablePagination-root {
  overflow-x: hidden !important;
}
.MuiGrid-root {
  margin-bottom: 10px !important;
}

/* Scroll */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 500px;
  background: #eaeaea;
  width: 8px;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(234, 234, 234, 0.7);
}
